* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

@font-face{
    font-family: "Lato";
    src: url("assets/fonts/Lato-Black.ttf");
    src: url("assets/fonts/Lato-Regular.ttf");
    src: url("assets/fonts/Lato-Bold.ttf");
    src: url("assets/fonts/Lato-Light.ttf");
}

body {
    width: 1020px;
}

li {
    display: inline;
    padding-right: 27px;
  
}

li:hover {
    color: green;
}

.header {
    display: block;
    height: 89px;
    background-color: #2d303a;
}

.logo {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    font-size: 18pt;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    margin-left: 40px;
    margin-top: 30px; 
    
}

.nav {
    cursor: pointer;
    display: inline-block;
    color: white;
    font-size: 9pt;
    font-family: "Lato";
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 609px;    
    margin-top: 42px;
}



.header-bottom {
    height: 6px;
    background-color: #323746;
    }


.slider {
    height: 594px;
    background-color: #f06c64;
}

.slider-arrow-left img {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 27px;
    margin-left: 43px;
    margin-top: 281px;
}

.slider-arrow-right img {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 27px;
    margin-left: 965px;
    margin-top: 281px;
}

.slider-iphone-vertical img {
    position: absolute;
    margin-left: 112px;
    margin-top: 53px;
    height: 483px;
    width: 240px;
}

.slider-iphone-horizontal img {
    position: absolute;
    width: 484px;
    height: 240px;
    margin-left: 425px;
    margin-top: 174px;
}

.slider-bottom {
    background-color: #EA676B;
    height: 6px;
}


.services {
    min-height: 494px;
    background-color: #F2F2F2;
}

.services h1 {
    display: inline-block;
    margin-left: 42px;
    margin-top: 60px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #666D89;
}

.services p {
    display: inline-block;
    margin-top: 19px;
    margin-left: 40px;
    margin-right: 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
   font-stretch: condensed;

}


.box-container {

}

.box {


}

.box-ico {
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    border-color: #666d89;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    margin: 41px;
    z-index: 10;
}

.box-img-bubble {
    background-image: url(/assets/img/services/bubble.png);
}

.box-img-bulb {
    background-image: url(/assets/img/services/bulb.png);
}

.box-img-ellipse {
    background-image: url(/assets/img/services/ellipse.png);
}

.box-img-heart {
    background-image: url(/assets/img/services/heart.png);
}

.box-img-pen {
    background-image: url(/assets/img/services/pen.png);
}

.box-img-phone {
    background-image: url(/assets/img/services/phone.png);
}


.box-bottom {
    background-color: white;
    height: 6px;
}