@import "./assets/fonts/fonts.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

section .singolo3 {
    width: 1020px;
    background-color: #F06C64;
}

.wrapper {
    width: 940px;
    margin-left: 40px;
    margin-right: 0 auto;
}

.singolo3 h2 {
    font-family: "Lato-Black";
    font-size: 26px;
    font-weight: 300;
    margin-top: 70px;
}

.singolo3 p {
    font-family: "Lato-Light";
    font-weight: 300;
    font-size: 18px;
    margin-top: 22px;
}

.singolo3__bottom {
    height: 6px;
    background-color: #EA676B;
}