* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: "Lato";
    src: url("assets/fonts/Lato-Black.ttf");
    src: url("assets/fonts/Lato-Regular.ttf");
    src: url("assets/fonts/Lato-Bold.ttf");
    src: url("assets/fonts/Lato-Light.ttf");
}

body {
    width: 1020px;
}

li {
    display: inline;
    margin: 0px;
    padding: 8px;
}

ul {
    position: absolute;
    left: 610px;
    top: 48px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

.header {
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
}

.logo {
    font-size: 25px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    margin-top: 42px;
    margin-left: 41px;
}

.nav {


}

.header-bottom {
    height: 6px;
    background-color: #323746;
    }





.box{
    border: 3px solid black;
    height: 300px;
    margin: auto;
}



.slider {
    height: 600px;
    background-color: #f06c64;
}

