@import "./assets/fonts/fonts.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    width: 1020px;
}

.wrapper {
    width: 940px;
    margin-left: 40px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    background-color: #2d303a;
}


.logo {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    color: white;
    font-family: "Lato-Bold", sans-serif;

}

.logo::after {
    content: "*";
    color: red;
    font: inherit;
}

.header__nav {
    cursor: pointer;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
    font-family: "Lato-Bold", sans-serif;
    text-transform: uppercase;
    /* margin-left: 609px;    
    margin-top: 42px; */
}

/* ul {
    display: inline-block;
} */

li {
    display: inline;
    padding-right: 27px;
}

li:first-child {
    color: red;
}

li:hover {
    color: green;
}

.header-bottom {
    height: 6px;
    background-color: #323746;
}


.slider {
    height: 594px;
    background-color: #f06c64;
}


.slider_arrow-left {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 27px;
    margin-top: 281px;
}

.slider_arrow-right {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 27px;
    margin-left: 925px;
    margin-top: 281px;
}


.slider_iphone-vertical {
    cursor: pointer;
    position: absolute;
    margin-left: 72px;
    margin-top: 53px;
    height: 483px;
    width: 240px;
}


.slider_iphone-horizontal {
    cursor: pointer;
    position: absolute;
    width: 484px;
    height: 240px;
    margin-left: 385px;
    margin-top: 174px;
}



.slider_bottom {
    background-color: #EA676B;
    height: 6px;
}


.services {
    min-height: 494px;
    background-color: #F2F2F2;
}


.services-text {
    display: block;
}


.services-text h1 {
    display: inline-block;
    margin-top: 60px;
    font-family: "Lato-Black";
    font-size: 30px;
    color: #666D89; 
}

.services-text p {
    display: inline-block;
    margin-top: 17px;
    font-family: "Lato-Light";
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    letter-spacing: -0.1px;
}


.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 19px;
    row-gap: 38px;
    justify-content: space-between;
    margin-top: 44px;
}


box-container__box {
    /* display: flex;
    justify-content: space-between; */
    /* vertical-align: top; */
    width: 300px;
    height: 87px;
    /* margin-left: 19px;
    margin-bottom: 37px; */
}
box-container__box  img {
float: right;
position: relative;
margin-top: 0px;
}

/* .box__circle {
    display: inline-block;
    width: 61px;
    height: 61px;
    border-color: #666d89;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    z-index: 5; 
    margin-left: 0px;
    margin-top: 0px;
} */


box-container__box img {
    /* top: 0px; */
    /* display: inline; 
    position: absolute; */
    /* width: 32px;
    height: 32px; */
    /* margin-left: 18px;*/
    /* display: inline-block; */
    /* margin-top: 25%; 
    margin-left: 25%; */
    /* z-index: 10; */
    
}


.box-text {
    display: inline-block;
    width: 218px;
    margin-left: 18px;
}


.box-text h2 {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    /* font-weight: 900; */
    line-height: 30px;
    margin-top: -7px;
    margin-bottom: 4px;
}


.box-text p {
    color: #767e9e;
    font-family: "Lato-Regular";
    font-size: 12px;
    line-height: 21px;
    max-height: 136px;
    overflow: hidden;
    text-align: justify;
}


.box-bottom {
    background-color: white;
    height: 6px;
}